<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="../public/img/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Musica para todos - Spotify</title>
</head>
<body>
    <!-- navbar -->
    <navbar id="navbar">
        <div class="navbar-container">
            <img src="img/logo_2.png" alt="" class="logo">
            <a href="/ADM" id="adm">Painel do administrador</a>
            <ul class="navbar-itens">
                <li class="navbar-iten">Premium</li>
                <li class="navbar-iten">Ajuda</li>
                <li class="navbar-iten">Baixar</li>
                <li class="navbar-iten"><a href="/cadastro"> Inscrever-se</a></li>
                <li class="navbar-iten"><a href="/login"> Entrar</a></li>
            </ul>
        </div>
    </navbar>
    <!-- Show case Primary -->
    <div id="showcase">
        <div class="showcase-container">
            <h2>Seja Premium. Seja feliz.</h2>
            <button class="btn-primary">INICIAR TESTE GRATIS</button>
            <p>* Sujeito a Termos e Condições. Disponível apenas para usuários que ainda não experimentaram o Premium.</p>
        </div>
    </div>
    <div id="webplayer">
        <div id="webplayer2"><h1>É música que você quer?</h1>
            <p>Ouça os melhores lançamentos do momento.</p>
            <button class="btn-webplayer">ACESSE O WEB PLAYER</button>
        </div>
    </div>
</body>
</html>
