<div class="sidebar">
    <div class="sidebar-wraper">
        <div class="sidebar-logo">
            <a href="/inicio"><img src="img/logo_2.png" alt=""></a>
        </div>
        <div class="sidebar-menu">
            <a class="sidebar-menu-selecionado" href="/inicio"><span class="fas fa-home"></span>Inicio</a>
            <a href="#"><span class="fas fa-search"></span>Buscar</a>
            <a id="addMusica" style="display:  inline;" href="#"><span class="fas fa-database"></span></a>
        </div>
        <div style="margin-left: 30px;" class="sidebar-menu">
            <p translate="no" class="sidebar-menu-title">Playlists</p>
            <div onclick="criarPlay()" class="sidebar-menu-item">
                <div class="sidebar-menu-item-componente"> + </div>
                <span style="text-overflow: ellipsis;">Criar Playlist</span>
            </div>
            <div class="sidebar-menu-item">
                <img src="img/musicas-curtidas.jpeg" alt="">
                <span style="text-overflow: ellipsis;">Musicas Curtidas</span>
            </div>
        </div>
        
        <div class="sidebar-playlists">
            
            
            
        </div>
    </div>
</div>